<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add a New Document</title>
</head>
<body>

	<h1>Add a New Document</h1>
	
	<form action="/documents/add" method="POST">
		<dl>
			<dt><label for="title">Title</label></dt>
			<dd><input type="text" name="title"></dd>
			
			<dt><label for="content">Content</label></dt>
			<dd><textarea rows="5" cols="80" name="content"></textarea>
		</dl>
		<input type="submit" value="Add">
	</form>
	
	<p>
		<a href="/documents">Go back to the list of documents.</a>
	</p>
</body>
</html>