<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List of Documents</title>
</head>
<body>

	<h1>List of Documents</h1>
	
	<table>
		<tr>
			<th>Edit</th>
			<th>ID</th>
			<th>Title</th>
			<th>Content</th>
		</tr>
		<tr th:each="d : ${documents}">
			<td><a href="/" th:href="@{/documents/edit(id=${d.id})}">Edit</a></td>
			<td th:text="${d.id}">00</td>
			<td th:text="${d.title}">Title</td>
			<td th:text="${d.content}">Content</td>
		</tr>
	</table>
	
	<a href="/documents/new">Add a new document</a>

</body>
</html>